/* Variables */

$font-text: 'Open Sans', sans-serif;
$font-logo: 'Dancing Script', cursive;

$color-main: #ffffff; /* white */
$color-bg: #dfe4ea; /* light gray */
$color-text-one: #000000; /* black */
$color-text-two: #747d8c; /* dark gray */
$color-text-three: #f9ca24; /* yellow */
$color-icon: #1e272e; /* black pearl */ 

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;   
} 

body {    
    font-size: 16px;
    line-height: 1.5;
    font-family: $font-text;
    color: $color-text-one;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

/* Navigation */

.navigation {  
    position: relative;
    height: 100vh;    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Moduł-4/golden/images/gadgets.jpg");
    background-position: center top;
    background-size: cover;

    .navigation-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 40px 20px;
    }
        .navigation-logo {
            display: flex;
            align-items: center;
            flex: 0 1 auto;
            height: 80px;
            font-family: $font-logo;
            color:$color-text-three;
            font-size: 40px;
            font-weight: bold;
        }
            .navigation-menu {
                flex: 0 1 auto;
            }
                ul {
                    height: 80px;
                    align-items: center;
                    display: flex;
                    list-style: none;
                }
                    li {
                        display: inline-block;
                        padding: 0 20px;
                    }
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $color-main;
                            font-weight: bold;
                        }                 
                            .navigation-title {
                                position: absolute;
                                width: 100%;
                                height: 200px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -30%);
                                text-align: center;
                            }
                                h1 {
                                    font-size: 30px;
                                    color: $color-main;
                                    text-transform: capitalize;
                                    margin: 20px 0;
                                    font-style: italic;
                                }
                                    h2 {
                                        font-size: 60px;
                                        color: $color-main;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        margin: 20px 0;
                                    }
                                        .btn {
                                            display: inline-block;
                                            height: 60px;
                                            width: 200px;
                                            line-height: 60px;
                                            margin: 15px 0;
                                            font-size: 20px;
                                            background-color: $color-text-three;
                                            cursor: pointer;
                                        }
}

/* Services */

.services {
    margin: 70px 0;

    .services-title {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
        .services-subtitle {
            text-align: center;
            color: $color-text-two;
            font-style: italic;
            margin-bottom: 30px;
        }
            .services-box {
                flex: 0 0 33.333%;
                position: relative;               
                text-align: center;
                padding: 20px 15px;                 
            }

                .fas {
                    font-size: 30px;
                    color:$color-text-three;       
                    border: 3px solid $color-text-three;       
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 50%;
                    margin: 0 auto;
                }
                    h3 {
                        padding: 15px 0;
                        font-weight: bold;
                    }
                        p {
                            color: $color-text-two;
                        }
}

/* Portfolio */

.portfolio {
    background-color: $color-bg;    

    .portfolio-title {
        padding-top: 70px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
        .portfolio-subtitle {
            text-align: center;
            color: $color-text-two;
            font-style: italic;
            margin-bottom: 70px;
        }
            .portfolio-box {
                flex: 0 0 32%;      
                position: relative;
                min-height: 300px;   
                margin-bottom: 70px;                           
            }
                .portfolio-image {
                    width: 100%;
                    height: 70%;
                    position: absolute;                    
                }
                    img {
                        height: 100%;
                        width: 100%;                       
                        object-fit: cover;
                    }
                        .portfolio-description {                                                     
                            padding: 230px 0 20px;
                            text-align: center;
                            background-color: $color-main;                            
                        }
                            p {
                                color: $color-text-two;
                            }
}

/* Footer */

.footer-copyright {
    flex-basis: 50%;
    position: relative;
    height: 80px;
        
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color:$color-text-two;
        }
}
    
.footer-contact  {    
    flex-basis: 50%;
    position: relative;
    height: 80px;
            
    ul {
        list-style-type: none;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);        
    }    
        li {
            display: inline-block;
            font-size: 0;    
            padding: 0 6px;            
        }
            i {
            font-size: 20px;
            color: $color-main;
            background-color: $color-icon;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            }
}

/* Media */

@media (max-width: 767px) {

    .wrapper {
        flex-direction: column;    
    }

    .navigation-menu {

        li {
            padding: 0 5px;
        }
            a {
                font-size: 12px;
            }
        }

    .navigation-title {

        h1 {
            font-size: 16px;
        }
            h2 {
                font-size: 24px;
            }
    }

    .footer-copyright {       
            
        p {
            position: static;
            top: 0;
            left: 0;
            transform: inherit;
            padding: 5px 0;
        }
    }
    
    .footer-contact  {     
        
        height: 150px;
            
            ul {
                position: static;
                top: 0;
                left: 0;
                transform: inherit;
                padding: 5px 0;
                text-align: right;
            }    
                     
                i {
                    font-size: 15px;
                    color: $color-main;
                    background-color: $color-icon;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    text-align: center;
                }
    }
}